$pc: 'min-width: 769px';
$tablet: 'max-width: 768px';
$phone: 'max-width: 640px';

$c-primary: #37619e;
$c-secondary: #4689eb;
$c-info: #cfeb75;
$c-success: #cfeb75;
$c-error: #9e1200;
$c-warn: #eb6e5e;
