@import './_var.scss';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  @apply bg-blue-400 dark:bg-gray-900 min-h-screen;
  transition: all 0.5s;
}

ul,
ol {
  list-style: none;
}

a,
span,
img {
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
}

input,
select {
  appearance: none;
  @apply rounded-md text-4xl focus:outline-none px-3 pt-2 pb-3 text-white bg-transparent;
}

option {
  @apply text-white bg-gray-400;
}

.slide-left-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all 10s ease;
}

// transition
.fade-enter {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}
.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-card-enter-active {
  animation: slide-in 0.3s ease;
}
.slide-card-leave-active {
  animation: slide-out 0.3s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(15px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    max-height: 150px;
    opacity: 1;
  }
  to {
    transform: translateX(-15px);
    max-height: 0;
    opacity: 0;
  }
}
